<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="hUluhV5bP-1f9EZkfDdZmVlweeadxEqbS8iHrg1vPFE" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64222989-2"></script>
    <script type="text/javascript">
      window.$crisp = [];
      window.CRISP_WEBSITE_ID = 'bff9fa3e-8182-4234-bd50-94f9aaf61be8';
      (function() {
        d = document;
        s = d.createElement('script');
        s.src = 'https://client.crisp.chat/l.js';
        s.async = 1;
        d.getElementsByTagName('head')[0].appendChild(s);
      })();
    </script>
    <style>
      body {
        overflow: hidden;
        background-color: black;

        color: rgba(0, 0, 0, 0.87);
        margin: 0;
        padding: 0;
        text-align: center;
      }
      canvas {
        margin: auto;
      }
    </style>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-64222989-2');
    </script>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
